---
collection:
    data: posts
    alias: post
    permalink: "{{ post.id }}/index.html"
title: "{{ post.title }}"
---
<Layout :page="page">
    <h1>{{ post.title }}</h1>
    {{ post.body }}
</Layout>